.item {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    background-color: gray;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow: black 2px 2px 6px;
}
.item:hover {
    transform: translate(-3px) scale(1.05);
}

.grid {
    display: grid;
    gap: 1vh;

    /*
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: auto auto auto;
    */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}